In [1]:
import pymysql
import pandas as pd
import os
import json
import mysql.connector

In [2]:
con = pymysql.connect(
    host = 'host_name',
    user = 'user_name',
    passwd = 'password',
    db = 'db_name')
cursor = con.cursor()

In [3]:
file = os.path.abspath("new.json")
json_data = open(file).read()
json_obj = json.loads(json_data)

In [4]:
query = """
CREATE TABLE IF NOT EXISTS types (id NVARCHAR(64), 
FOREIGN KEY (id) REFERENCES main(id), 
east_asian INT(1), 
italian INT(1),
food_buffet INT(1),
international INT(1),
doner_kebab INT(1),
sandwich INT(1),
refectory INT(1),
tabbakhi INT(1),
veg_food INT(1),
iranian INT(1),
special_food INT(1),
sea_food INT(1),
european_food INT(1),
french INT(1),
fastfood INT(1),
food_court INT(1),
lebanese INT(1),
fried_chicken INT(1),
mexican INT(1),
indian INT(1),
pizza INT(1),
pizza_sanwich INT(1),
chinese INT(1),
japanese INT(1),
coffeeshop INT(1),
turkish_kebab INT(1),
kebab_house INT(1),
grill INT(1),
gilaki INT(1)
);
"""
cursor.execute(query)

0

In [5]:
query = """
INSERT INTO types 
(id, 
east_asian, 
italian, 
food_buffet, 
international, 
doner_kebab, 
sandwich, 
refectory, 
tabbakhi, 
veg_food, 
iranian, 
special_food, 
sea_food, 
european_food, 
french, 
fastfood, 
food_court, 
lebanese, 
fried_chicken, 
mexican, 
indian, 
pizza, 
pizza_sanwich, 
chinese, 
japanese, 
coffeeshop, 
turkish_kebab, 
kebab_house, 
grill, 
gilaki)
VALUES
(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
for item in json_obj["items"]:
    cursor.execute(query, (item["id"], 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0))

In [6]:
for item in json_obj["items"]:
    for i in item["types"]:
        if i == "آسیای شرقی":
            cursor.execute("UPDATE types SET east_asian = 1 WHERE id = %s", item["id"])
        if i == "ایتالیایی":
            cursor.execute("UPDATE types SET italian = 1 WHERE id = %s", item["id"])
        if i == "بوفه غذا":
            cursor.execute("UPDATE types SET food_buffet = 1 WHERE id = %s", item["id"])
        if i == "بین الملل":
            cursor.execute("UPDATE types SET international = 1 WHERE id = %s", item["id"])
        if i == "دونر کباب":
            cursor.execute("UPDATE types SET doner_kebab = 1 WHERE id = %s", item["id"])
        if i == "ساندویچ":
            cursor.execute("UPDATE types SET sandwich = 1 WHERE id = %s", item["id"])
        if i == "سفره خانه":
            cursor.execute("UPDATE types SET refectory = 1 WHERE id = %s", item["id"])
        if i == "طباخی":
            cursor.execute("UPDATE types SET tabbakhi = 1 WHERE id = %s", item["id"])
        if i == "غذاهای سالم و گیاهی":
            cursor.execute("UPDATE types SET veg_food = 1 WHERE id = %s", item["id"])
        if i == "غذای ایرانی":
            cursor.execute("UPDATE types SET iranian = 1 WHERE id = %s", item["id"])
        if i == "غذای خاص":
            cursor.execute("UPDATE types SET special_food = 1 WHERE id = %s", item["id"])
        if i == "غذای دریایی":
            cursor.execute("UPDATE types SET sea_food = 1 WHERE id = %s", item["id"])
        if i == "غذای فرنگی":
            cursor.execute("UPDATE types SET european_food = 1 WHERE id = %s", item["id"])
        if i == "فرانسوی":
            cursor.execute("UPDATE types SET french = 1 WHERE id = %s", item["id"])
        if i == "فست فود":
            cursor.execute("UPDATE types SET fastfood = 1 WHERE id = %s", item["id"])
        if i == "فودکورت":
            cursor.execute("UPDATE types SET food_court = 1 WHERE id = %s", item["id"])
        if i == "لبنانی":
            cursor.execute("UPDATE types SET lebanese = 1 WHERE id = %s", item["id"])
        if i == "مرغ سوخاری":
            cursor.execute("UPDATE types SET fried_chicken = 1 WHERE id = %s", item["id"])
        if i == "مکزیکی":
            cursor.execute("UPDATE types SET mexican = 1 WHERE id = %s", item["id"])
        if i == "هندی":
            cursor.execute("UPDATE types SET indian = 1 WHERE id = %s", item["id"])
        if i == "پیتزا":
            cursor.execute("UPDATE types SET pizza = 1 WHERE id = %s", item["id"])
        if i == "پیتزا ساندویچ":
            cursor.execute("UPDATE types SET pizza_sanwich = 1 WHERE id = %s", item["id"])
        if i == "چینی":
            cursor.execute("UPDATE types SET chinese = 1 WHERE id = %s", item["id"])
        if i == "ژاپنی":
            cursor.execute("UPDATE types SET japanese = 1 WHERE id = %s", item["id"])
        if i == "کافی شاپ":
            cursor.execute("UPDATE types SET coffeeshop = 1 WHERE id = %s", item["id"])
        if i == "کباب ترکی":
            cursor.execute("UPDATE types SET turkish_kebab = 1 WHERE id = %s", item["id"])
        if i == "کبابی یا جگرکی":
            cursor.execute("UPDATE types SET kebab_house = 1 WHERE id = %s", item["id"])
        if i == "گریل":
            cursor.execute("UPDATE types SET grill = 1 WHERE id = %s", item["id"])
        if i == "گیلکی":
            cursor.execute("UPDATE types SET gilaki = 1 WHERE id = %s", item["id"])
            
con.commit()

In [7]:
pd = pd.read_sql_query("SELECT * FROM types", con)
pd

C:\Users\Fazel\AppData\Local\Temp\ipykernel_9992\227096715.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd = pd.read_sql_query("SELECT * FROM types", con)

,id,east_asian,italian,food_buffet,international,doner_kebab,sandwich,refectory,tabbakhi,veg_food,...,indian,pizza,pizza_sanwich,chinese,japanese,coffeeshop,turkish_kebab,kebab_house,grill,gilaki
0,ae03aa67a4f811edb2c440b0760dd4ca,0,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
1,aee37234a4f811edb90840b0760dd4ca,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,b05fe082a4f811edadf040b0760dd4ca,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,b17de127a4f811eda70e40b0760dd4ca,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,b2a7ea13a4f811edb3e640b0760dd4ca,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,96477f4ea51911ed893640b0760dd4ca,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
914,97838181a51911ed8f6140b0760dd4ca,1,1,0,1,0,1,0,0,1,...,0,1,1,0,0,1,0,0,1,0
915,98f7a9eaa51911ed87fc40b0760dd4ca,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
916,9a9c6f77a51911ed9c5f40b0760dd4ca,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
917,9bae5447a51911ed83bc40b0760dd4ca,0,0,0,0,0,1,0,0,0,...,0,1,1,0,0,1,0,0,1,0